<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        #ny {
            color:rgba(0, 7, 5, 0.8);
            font-family: papercraft;
        }
    </style>
</head>
<body class="blue-grey lighten-5">
    <div class="container">
    <div class="text-center col s12">
    <h1 class="center" id="ny">New York Times Scraper</h1>
    </div><hr>
        {{{ body }}}
    </div>
</body>

</html>